<!-- ============================================================== -->
<!-- End Topbar header -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<style>
  .sidebar-nav ul .sidebar-item .first-level .sidebar-item .sidebar-link i {
    font-size: 25px;
  }
  #myprofile{
    display: none;
  }
  #sessionEmail{
    display: none;
  }
</style>
<aside class="left-sidebar" data-sidebarbg="skin5">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">

    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
      <ul id="sidebarnav" class="p-t-30">
        <h4 style="border-radius: 35px;background-color: #27a9e369;text-align: center;color: #fff;">
          <%= sessName %>
        </h4>

        <!-- <li class="sidebar-item">
          <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i
              class="mdi mdi-file-document"></i><span class="hide-menu">Application Form </span></a> -->
          <!-- <ul aria-expanded="false" class="collapse first-level"> -->
        <li class="sidebar-item">
          <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/updateDriverDetailsForm"
            aria-expanded="false"><i class="mdi mdi-account-card-details"></i><span class="hide-menu">Personal
              Information</span></a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/updateemploymenthistoryForm"
            aria-expanded="false"><i class="mdi mdi-account-check"></i><span class="hide-menu">Employment
              History</span></a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/updatedrivingHistoryForm"
            aria-expanded="false"><i class="mdi mdi-account-location"></i><span class="hide-menu">Driving
              History</span></a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/motorVehicleCertificate"
            aria-expanded="false"><i class="mdi mdi-truck-delivery"></i><span class="hide-menu">Motor Vehicle
              Certificate</span></a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/medicalDecleration"
            aria-expanded="false"><i class="mdi mdi-medical-bag"></i><span class="hide-menu">Medical
              Decleration</span></a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/driverAck" aria-expanded="false"><i
              class="mdi mdi-steering"></i><span class="hide-menu">Driver Acknowledgement</span></a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/pspDisclosure" aria-expanded="false"><i
              class="mdi mdi-star-circle"></i><span class="hide-menu">PSP
              Disclosure</span></a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/clearingHouseConsent"
            aria-expanded="false"><i class="mdi mdi-notification-clear-all"></i><span class="hide-menu">Clearing
              House Consent</span></a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/compensatedWork" aria-expanded="false"><i
              class="mdi mdi-wunderlist"></i><span class="hide-menu">Compensated
              Work</span></a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/drugAndAlcohol" aria-expanded="false"><i
              class="mdi mdi-wunderlist"></i><span class="hide-menu">Drug & Alcohol <br>
              History Verification</span></a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/Reference" aria-expanded="false"><i
              class="mdi mdi-wunderlist"></i><span class="hide-menu">Reference Certificate</span></a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/hoursOfService" aria-expanded="false"><i
              class="mdi mdi-worker"></i><span class="hide-menu">Hours of Service</span></a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/documentUpload" aria-expanded="false"><i
              class="mdi mdi-briefcase-upload"></i><span class="hide-menu">Document Upload</span></a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/questions" aria-expanded="false"><i
              class="mdi mdi-comment-question-outline"></i><span class="hide-menu">Invterview Questions</span></a>
        </li>
		<li class="sidebar-item">
          <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/drivermanual" aria-expanded="false"><i
              class="mdi mdi-comment-question-outline"></i><span class="hide-menu">Driver Manual</span></a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/feedback" aria-expanded="false"><i
              class="mdi mdi-email"></i><span class="hide-menu">Feedback Form</span></a>
        </li>
        


        <!-- </ul> -->
        </li>




      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Page wrapper  -->
<!-- ============================================================== -->